footer.footer
    .container
        .footer-content
            a.logo.footer-logo(href="#")
                span.logo-text Студия
                span.logo-title Красоты волос
            .phone
                a.phone-number(href='tel:+74990002267') +7 (499) 000-22-67
            button.btn-top
                sapn.btn-top-icon