header.header
    .container
        .header-up
            a.logo(href="#")
                span.logo-text Студия
                span.logo-title Красоты волос
            address.address
                span.address-street м. Планерная
                span.address-street м. Киевская
            .phone
                a.phone-number(href='tel:+74990002267') +7 (499) 000-22-67
        h1.header-title Подари своим волосам красоту и здоровье
        button.wr-service записаться на услугу