section.masters
    .container
        h2.masters-title Наши мастера
        ul.masters-list.owl-carousel.owl-masters
            li.masters-item
                img.masters-item-pic(src="img/master-1.png", alt="Мастер 1")
                span.masters-item-text топ-мастер по уходовым процедурам за волосами опыт более 5 лет
            li.work-item
                img.masters-item-pic(src="img/master-1.png", alt="Мастер 1")
                span.masters-item-text топ-мастер по уходовым процедурам за волосами опыт более 5 лет
            li.work-item
                img.masters-item-pic(src="img/master-1.png", alt="Мастер 1")
                span.masters-item-text топ-мастер по уходовым процедурам за волосами опыт более 5 лет
            li.work-item
                img.masters-item-pic(src="img/master-1.png", alt="Мастер 1")
                span.masters-item-text топ-мастер по уходовым процедурам за волосами опыт более 5 лет
            li.work-item
                img.masters-item-pic(src="img/master-1.png", alt="Мастер 1")
                span.masters-item-text топ-мастер по уходовым процедурам за волосами опыт более 5 лет