.popup-send
    .popup-send-container
        button.popup-send-btn-close
        form.popup-send-form(action="")
            input.popup-send-input(type="text" placeholder="имя")
            input.popup-send-input(type="text" placeholder="телефон")
        p.popup-send-text.
            Введите ваши данные. В ближайшее время с Вами свяжется
            менеджер для уточнение информации.
        button.popup-send-btn отправить