section.request
    .container
        .request-content
            h2.request-title Заполни заявку
            sapn.request-text Получи бесплатную консультацию
            form.request-form(action="")
                input.request-input(type="text" placeholder="имя")
                input.request-input(type="tel" placeholder="телефон")
            button.wr-service записаться на услугу