section.service
    .container
        ul.service-list
            h3.service-list-title Услуги нашей студии
            li.service-item          
                img.service-item-pic.img-small(src="img/service-1.png", alt="Сервис 1")
                span.service-item-title стрижка
                span.service-item-price от 700 р
                span.service-item-text женская, мужская, любой сложности
                button.wr-service записаться на услугу
            li.service-item
                img.service-item-pic.img-medium(src="img/service-2.png", alt="Сервис 2")
                span.service-item-title кератиновое выпрямление
                span.service-item-price от 4000 р
                span.service-item-text составы премиум класса
                button.wr-service записаться на услугу
            li.service-item
                img.service-item-pic(src="img/service-3.png", alt="Сервис 3")
                span.service-item-title ботокс
                span.service-item-price от 3000 р
                span.service-item-text составы премиум класса
                button.wr-service записаться на услугу
            li.service-item
                img.service-item-pic(src="img/service-4.png", alt="Сервис 4")
                span.service-item-title нанопластика
                span.service-item-price от 3000 р
                span.service-item-text составы премиум класса
                button.wr-service записаться на услугу