section.work
    .container
        h2.work-title Примеры работ
        ul.work-list.owl-carousel.owl-works
            li.work-item
                img.work-item-pic(src="img/slider-1.png", alt="Работа 1")
            li.work-item
                img.work-item-pic(src="img/slider-1.png", alt="Работа 1")
            li.work-item
                img.work-item-pic(src="img/slider-1.png", alt="Работа 1")
            li.work-item
                img.work-item-pic(src="img/slider-1.png", alt="Работа 1")
            li.work-item
                img.work-item-pic(src="img/slider-1.png", alt="Работа 1")