doctype html
html(lang='ru-RU')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		link(rel='stylesheet' href='css/main.min.css')
	body
		include sections/header
		include sections/services
		include sections/request
		include sections/works
		include sections/masters
		include sections/footer
		include sections/popup-send

		script(src='js/main.min.js')